<label class="admin-base-form-input mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect" for="{{ inputId }}">
    <input type="checkbox" id="{{ inputId }}" name="{{ inputName }}" value="true"
           class="mdl-checkbox__input"{% if inputValue %} checked{% endif %}>
    <span class="mdl-checkbox__label">{{ inputText }}</span>
</label>
