.calendar {
  width: 100%;

  text-align: center;

  border-spacing: 0;
  border-collapse: collapse;

  th,
  td {
    padding: 4px;

    vertical-align: middle;
  }

  tr {
    &:not(:first-child) {
      th {
        width: 1px;

        white-space: nowrap;
      }
    }
  }

  .calendar-day {
    display: table;

    padding: 4px;

    width: 100%;
    height: 100%;

    border-spacing: 0;
    border-collapse: collapse;

    table-layout: fixed;

    & > * {
      display: table-row;

      & > * {
        display: table-cell;

        padding: 4px;

        text-align: center;

        vertical-align: middle;

        &:first-child {
          text-align: right;
        }

        &:last-child {
          text-align: left;
        }
      }
    }

    .material-icons {
      font-size: 16px;
    }

    .calendar-am {
      background: #FFE082;
    }

    .calendar-pm {
      background: #EF9A9A;
    }
  }

  .calendar-link {
    position: relative;

    cursor: pointer;

    &[data-past="true"] {
      .calendar-am {
        background: #FFF8E1;
      }

      .calendar-pm {
        background: #FFEBEE;
      }
    }

    &[data-today="true"] {
      background: #81D4FA;
    }

    &[data-active="true"] {
      background: #03A9F4;
      color: #fff;

      .calendar-am {
        background: #FFB300;
      }

      .calendar-pm {
        background: #E53935;
      }
    }
  }
}
