* {
    box-sizing: border-box;
}

.notifications {
    margin-bottom: 16px;
}

.notification {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid;
}

.header-link {
    display: block;

    text-decoration: none;
    white-space: nowrap;
}

.header-link * {
    display: inline-block;

    float: left;

    margin-right: 8px;
}

.header-link *:last-child {
    margin-right: 0;
}

.header-link .mdl-layout-title {
    display: inline-block;
}

.mdl-layout__content > .mdl-grid > * {
    margin-left: auto;
    margin-right: auto;

    padding: 8px;

    background: #fff;
}

.mdl-menu .material-icons {
    vertical-align: middle;
}

.plf-image-header {
    padding: 16px;

    min-height: 200px;

    overflow: hidden;

    background: #333 center no-repeat;
    background-size: cover;
}

.plf-drawer-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    padding: 16px;
}

.plf-card-external-link {
    float: right;

    text-align: right;
}

.plf-channel-icon {
    width: 46px;
    height: 46px;

    border-radius: 50%;
}