<header class="demo-header mdl-layout__header">
    <div class="mdl-layout__header-row">
        {% if page is defined %}
            <a class="header-link mdl-color-text--white"
               {% if page.route is defined %}href="{{ path(page.route) }}"{% endif %}>
                {% if page.icon is defined %}
                    <i class="material-icons">{{ page.icon }}</i>
                {% endif %}
                {% if page.title is defined %}
                    <span class="mdl-layout-title">
                        <span>{{ page.title }}</span>
                    </span>
                {% endif %}
                {% if page.subtitle is defined %}
                    <span class="mdl-layout-title">
                        <span>- {{ page.subtitle | trans }}</span>
                    </span>
                {% endif %}
            </a>
        {% endif %}
        <div class="mdl-layout-spacer"></div>
        {% block langNav %}
            {% include 'inc/lang-nav.html.twig' %}
        {% endblock %}
    </div>
</header>
